APP_NAME=Cendana
APP_ENV=testing
APP_KEY=
APP_DEBUG=true

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=null
MAIL_MAILER=array
FILESYSTEM_DISK=local
